
:root {
    --dark: #2E2F42;
    --primary-brand: #4D5AE5;
    --text: #434455;
    --accent: #E7E9FC;
    --white-color: #FFFFFF;
    --light: #F4F4FD;
    --bgd-color: #E5E5E5;
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1;
    letter-spacing: 0.03em;
    font-size: 14px;
    font-weight: 400;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
p,
h1,
h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
/* header */
.navigation {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav-contact {
    display: flex;

}
.nav-item-link {
    display: flex;
}
.logo {
    width: 115px;
    height: 24px;
    display: flex;
    margin-right: 77px;
}
.logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.logo-stydio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--dark);
}
.nav-items {
    display: flex;
    gap: 40px;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.nav-link:hover {
    color: var(--primary-brand);
}
.nav-link:focus {
    color: var(--primary-brand);
}
.contact {
    display: flex;
    margin-left: auto;
}
.contacts-item {
    display: flex;
    margin-right: 40px;
}
.nav-mail,
.nav-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.nav-mail:hover,
.nav-mail:focus {
    color: var(--primary-brand);
}
.nav-tel:hover,
.nav-tel:focus {
    color: var(--primary-brand);
}
/* main webstudio */
.section-title {
    height: 603px;
    background-color: var(--dark);
}
.main-section {
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
}
.title {
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.07;
    font-size: 56px;
    letter-spacing: 0.02em;
    margin: 0 auto;
    align-items: center;
    width: 520px;
    padding-bottom: 48px;
}

.button {
    width: 170px;
    height: 51px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.visually-hidden {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-heading {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    margin: 0 auto;
    /* background: var(--bgd-color); */
}
.heading-items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}
.heading-item {
    width: 264px;
}
.heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding-bottom: 8px;
}
.section-subject {
    padding-top: 120px;
    padding-bottom: 120px;
    /* background: var(--bgd-color); */
}
.subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}
.subject-list {
    display: flex;
    align-items: center;
    gap: 24px;
}
/* .subject-img {
    margin: 24px;
    
} */
.subject {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 72px;
}
.section-our {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.subject-our-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.card-our-title {
    padding-top: 32px;
    padding-bottom: 32px;
}
.subject-our {
    display: flex;
    text-align: center;
    margin-top: 120px;
    gap: 24px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.subject-img {
    /* display: flex; */

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.text-item-our {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    margin-top: 8px;
}
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.btn-portfolio {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--light);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    margin-right: 24px;
    padding: 8px 16px;
}
.item {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}
.text-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    margin-top: 8px;
/* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    margin-top: 8px;
} */
}
.btn-portfolio:hover {
    color: var(--white-color);
    background: var(--primary-brand);
    border-radius: 4px;
}
.btn-portfolio:focus {
    color: var(--white-color);
    background: var(--primary-brand);
    border-radius: 4px;
}
.set-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.content-card {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 32px;
    border: 0.5px solid #F4F4FD;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.set-card > .img-card {
    flex-basis: calc(100% / 3);
}
/* .card-list {
    margin-right: 16px;
} */
.item-portfolio {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    /* padding-left: 16px; */
}
/* .text-item-portfolio {
    padding-left: 16px;
} */
/* footer */
.footer {
    background: var(--dark);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}
.footer-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-txt {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent);
    margin-top: 16px;
    width: 264px;
    height: 72px;
}
